RewriteEngine On

# Menghapus ekstensi .php dari URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/.]+)$ $1.php [L]

# Mencegah akses langsung ke folder
Options -Indexes

# Mengarahkan semua permintaan ke index.php jika file atau direktori tidak ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

# Menambahkan tipe MIME untuk file manifest
AddType application/manifest+json .json
  
